<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <base href="/client">
</head>
<body>
<div id="root"><%- root %></div>
<script>
  window.REDUX_STATE =<%- JSON.stringify(state) %>
</script>
<script type="text/javascript" src="/runtime.fc56b3ce2e8c1ed98931.js?fc56b3ce2e8c1ed98931"></script><script type="text/javascript" src="/vendor.fc56b3ce2e8c1ed98931.js?fc56b3ce2e8c1ed98931"></script><script type="text/javascript" src="/main.fc56b3ce2e8c1ed98931.js?fc56b3ce2e8c1ed98931"></script></body>
</html>